<div class="container">
    <div class="image">
        <img alt="Gachiakuta" height="350" src="Gachiakuta.jpg" width="220" />
    </div>
    <div class="content">
        <h1>Gachiakuta: No Lixo, a Sobrevivência é a Única Regra</h1>
        <p>Gachiakuta é um mangá que nos leva a um mundo onde os marginalizados e renegados da sociedade são jogados em
            um abismo repleto de perigos. Lá, eles devem lutar por suas vidas em um ambiente hostil, cheio de criaturas
            e mistérios.</p>
        <p>A história segue Rudo, um jovem que, após ser traído e condenado por um crime que não cometeu, é lançado
            nesse abismo. No entanto, em vez de sucumbir ao desespero, Rudo decide lutar para sobreviver e descobrir os
            segredos sombrios que cercam este mundo. Com sua determinação inabalável e a ajuda de aliados inesperados,
            ele busca uma forma de se vingar e, talvez, encontrar um caminho para a redenção.</p>
    </div>
</div>  