<div class="container">
    <div class="image">
        <img alt="Jujutsu Kaisen" height="350" src="JujutsuKaisen.jpg" width="220" />
    </div>
    <div class="content">
        <h1>Jujutsu Kaisen: Um Mundo de Maldições e Feitiçaria</h1>
        <p>
            Jujutsu Kaisen é um anime e mangá que nos transporta para um mundo sombrio e sobrenatural, onde
            criaturas amaldiçoadas nascem das emoções negativas humanas. Para combater essas ameaças, existem os
            Feiticeiros Jujutsu, pessoas com habilidades especiais que utilizam a energia amaldiçoada para derrotar
            esses seres.
        </p>
        <p>
            A história gira em torno de Yuji Itadori, um jovem comum que, em um ato de heroísmo, acaba engolindo por
            um dos dedos de Ryomen Sukuna, um dos mais poderosos demônios amaldiçoados. Para salvar seus amigos,
            Yuji decide consumir o restante dos dedos de Sukuna, tornando-se um recipiente para o demônio e,
            consequentemente, um Feiticeiro Jujutsu.
        </p>
    </div>
</div>
