<div class="container">
    <div class="image">
        <img alt="One Pice" height="350" src="Akira.jpg" width="220" />
    </div>
    <div class="content">
        <h1>Akira: O Futuro Distópico de Neo-Tóquio</h1>
        <p>Akira é um clássico do cinema e mangá cyberpunk, ambientado em um futuro distópico onde Neo-Tóquio se ergue
            das cinzas de uma explosão que deu início à Terceira Guerra Mundial. A trama gira em torno de Kaneda e
            Tetsuo, dois amigos de infância que se encontram no centro de uma conspiração governamental envolvendo
            experimentos secretos e poderes psíquicos.</p>
        <p>Quando Tetsuo começa a manifestar habilidades psíquicas perigosas e incontroláveis, ele se torna uma ameaça
            ao próprio equilíbrio de Neo-Tóquio. A busca desesperada de Kaneda para salvar seu amigo e a cidade leva a
            uma série de eventos que revelam os horrores ocultos por trás da explosão original e o projeto Akira, que
            pode ter consequências catastróficas para o mundo inteiro.</p>
    </div>
</div>  