<div class="content">
    <h2>My Anime List</h2>
    <div class="anime-list">
        <div>
            <div class="anime-item-title">Jujutsu Kaisen</div>
            <a class="anime-item" routerLink="/jujutsu-kaisen">
                <img alt="Imagem Jujutsu Kaisen" height="300" src="JujutsuKaisen.jpg" width="200"/>
            </a>
        </div>
        <div>
            <div class="anime-item-title">Gachiakuta</div>
            <a class="anime-item" routerLink="/gachiakuta">
                <img alt="Imagem Gachiakuta" height="300" src="Gachiakuta.jpg" width="200"/>
            </a>
        </div>
        <div>
            <div class="anime-item-title">Akira</div>
            <a class="anime-item" routerLink="/akira">
                <img alt="Imagem de Akira" height="300" src="Akira.jpg" width="200"/>
            </a>
        </div>
        <div>
            <div class="anime-item-title">One Piece</div>
            <a class="anime-item" routerLink="/one-piece">
                <img alt="Imagem de One Piece" height="300" src="OnePiece.jpg" width="200"/>
            </a>
        </div>
    </div>
</div>
