<div class="container">
    <div class="image">
        <img alt="One Pice" height="350" src="OnePiece.jpg" width="220" />
    </div>
    <div class="content">
        <h1>One Piece: A Grande Jornada em Busca do Tesouro</h1>
        <p>One Piece é um anime e mangá que narra as aventuras de Monkey D. Luffy e sua tripulação de piratas em
            busca do lendário tesouro One Piece. Com o sonho de se tornar o Rei dos Piratas, Luffy parte em uma
            jornada épica pelos mares, enfrentando inimigos poderosos e formando laços inquebráveis com seus
            companheiros.</p>
        <p>A série é conhecida por seu mundo vasto e imaginativo, repleto de ilhas únicas, poderes sobrenaturais
            concedidos pelas frutas do diabo, e uma rica diversidade de personagens. Cada arco traz desafios novos e
            emocionantes, enquanto Luffy e seus amigos se aproximam cada vez mais de seu objetivo final, enfrentando
            a temível Marinha e outros piratas pelo caminho.</p>
    </div>
</div>
